# Env files
.env

# WordPress content (src = wp-content)
src/uploads/
src/cache/
src/upgrade/
src/plugins/
src/themes/
# Uncomment below if you want to track specific ones
# !src/plugins/my-plugin/
# !src/themes/my-theme/

# Logs
*.log

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

# Build / temp files
node_modules/
dist/
.build/
tmp/
