# Env files
.env

# WordPress content
src/plugins/*
!src/plugins/.gitkeep
src/themes/*
!src/themes/.gitkeep
src/uploads/*
!src/uploads/.gitkeep

src/cache/*
src/upgrade/*
src/languages/*

# Database dumps
db/init/*
!db/init/.gitkeep
db/backups/*
!db/backups/.gitkeep

# Logs
*.log

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

# Build / temp files
node_modules/
dist/
.build/
tmp/
